In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from pprint import pprint

start_date = '2020-06-20'
end_date = '2021-06-30'
code = '7974.T'

In [2]:
import sys
sys.path.append('../')
from scripts.price_data.get_price import GetPriceData

In [3]:
price_getter = GetPriceData()

In [4]:
price_getter.get_close_price('AAPL', '2022-06-10')

142.63999938964844

In [5]:
price_getter.get_today_close_price('AAPL')

132.75999450683594

In [6]:
np.array(price_getter.get_usdjpy_weekly_close())

array([132.17599487, 132.84700012, 134.42999268, 134.41799927,
       134.81399536, 134.2250061 , 134.69599915])

In [8]:
pd.DataFrame(price_getter.get_usdjpy_weekly_close())

                 Close
Date
2022-06-07  132.175995
2022-06-08  132.847000
2022-06-09  134.429993
2022-06-10  134.417999
2022-06-13  134.813995
2022-06-14  134.225006
2022-06-15  134.636993